

.navbar-brand>img{
    height: 100px;
}

.navbar-links{
    display:flex;
    justify-content: space-around;
}

.navbar-links a{
    color:green;
    text-decoration: none;
    margin:10px 15px;
    font-weight: bold;
    font-size: 30px;
}
.navbar-links a:hover{
    color:orange;
}

h1{
    text-align: center;
}

.boxes{
    margin: 30px;

}

.order-box{
    text-align: center;
}

.order-box img{
    width:50px;
    border-radius: 100%;
    margin:20px;

}

.copyright{
    text-align: center;
    font-weight: bold;
}

.green{
    color:green;
}
.red{
    color:red;
}
.orange{
    color:orangered;
}
.purple{
    color:purple;
}
.yellow{
    color:orange;
}
